/* Msg Box */
.uabb-msg {
	font-size: 14px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.uabb-msg strong {
	font-weight: 700;
}

/* Info Msg */
.uabb-msg.uabb-msg-info, 
.uabb-msg.uabb-msg-info * {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Success Msg */
.uabb-msg.uabb-msg-success, 
.uabb-msg.uabb-msg-success * {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* Warning Msg */
.uabb-msg.uabb-msg-warning, 
.uabb-msg.uabb-msg-warning * {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* Danger Msg */
.uabb-msg.uabb-msg-danger, 
.uabb-msg.uabb-msg-danger * {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}